@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to the our Games</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games from DB</h2>
    </div>
</div>

<GameListTable/>

